.projects .project-image {
    width: 100%;
    box-shadow: var(--shadow-light);
    transition: var(--transition);
    border-radius: var(--radius);
}

.projects .project-image:hover {
    box-shadow: var(--shadow-dark);
}

/* Projects Technology Component */
.technology {
    display: inline-block;
    background-color: var(--gray-color);
    margin: 3px;
    padding: 5px 8px;
    font-size: 12px;
    color: var(--main-color);
}

/* Project Link Component */
.project-link a {
    color: var(--main-color);
    margin-right: 10px;
    transition: color var(--transition);
}

.project-link a:hover {
    color: var(--dark-color);
}

@media (max-width: 992px) {
    .projects .row {
        padding-bottom: 0 !important;
    }
}

@media (max-width: 768px) {
    .projects .project-image {
        margin-bottom: 20px;
    }
}
