/* Blog Component */
.blog {
    border: none;
    box-shadow: var(--shadow-light);
    transition: all var(--transition);
}

.blog:hover {
    box-shadow: var(--shadow-dark);
}

.blog .blog-img {
    overflow: hidden;
}

.blog .blog-img img {
    height: 180px;
    transition: var(--transition);
}

.blog .blog-img img:hover {
    transform: scale(1.2);
}
