.nav-bar .navbar-brand,
.nav-bar .nav-link {
    color: var(--light-color) !important;
    cursor: pointer;
    margin-right: 10px;
}

.nav-bar .active {
    color: var(--main-color) !important;
}

.nav-bar.active-nav {
    background-color: var(--light-color);
    transition: 0.3s;
    box-shadow: var(--shadow-dark);
}

.nav-bar.active-nav .navbar-brand,
.nav-bar.active-nav .nav-link {
    color: var(--dark-color) !important;
}

.nav-bar.active-nav .active {
    color: var(--main-color) !important;
}

.nav-bar .custom-btn {
    font-size: 14px;
    padding: 8px 15px;
}

@media (max-width: 992px) {
    .nav-bar .navbar-toggler {
        background-color: var(--light-color);
    }
    .nav-bar .navbar-collapse {
        background-color: var(--dark-color) !important;
        text-align: center;
    }
    .nav-bar.active-nav .navbar-collapse {
        background-color: var(--light-color) !important;
        text-align: left;
    }
}
